#run port on:
PORT=

#run node on dev / prod:
NODE_ENV=""

#SUPABASE connection:
#Connect via supabase pooling;
DATABASE_URL=""
# Direct connection to the database. Used for migrations
DIRECT_URL=""

# cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

SENDGRID_API_KEY=
JWT_SECRET=
